.container {
  margin-top: 100px;
  width: 400px;
  height: 70px;
  background: #222327;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  .navbar {
    &__wrapper {
      width: 350px;
      display: flex;
      padding: 0;
    }
    &__item {
      width: 70px;
      height: 70px;
      list-style: none;
      &-wrapper {
        position: relative;
        text-decoration: none;
        background: #bfa;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: 500;
      }
      &:hover {
        .navbar__item-icon {
          transform: translateY(-35px);
        }
        .navbar__item-text{
          opacity: 1;
          transform: translateY(10px);
        }
      }
      &-icon {
        line-height: 75px;
        font-size: 1.5em;
        transition: 0.5s;
      }
      &-text{
        position: absolute;
        font-weight: 400;
        font-size: 0.75em;
        letter-spacing: 0.05em;
        transition: 0.5s;
        opacity: 0;
        transform: translateY(20px);
      }
    }
  }
}
