@import "../../global.scss";

.background {
  @include background;
  background: linear-gradient(45deg, #8460ed, #ff1252);
  .container {
    @include flexCenter;
    position: relative;
    width: 200px;
    height: 200px;
    padding: 0;
    .toggle {
      @include flexCenter;
      position: absolute;
      width: 60px;
      height: 60px;
      background: #fff;
      z-index: 1;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
      font-size: 2em;
      transition: 1.25s;
      &.active {
        transform: rotate(315deg);
        & ~ .link {
          transform: rotate(calc(360deg / 5 * var(--i)));
        }
      }
    }
    .link {
      position: absolute;
      left: 0;
      list-style: none;
      transform-origin: 100px;
      transition: 0.5s;
      transition-delay: calc(0.1s * var(--i));
      transform: rotate(0deg) translateX(80px);
      a {
        @include flexCenter;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #fff;
        transform: rotate(calc(360deg / -5 * var(--i)));
        transition: 0.5s;
        &:hover {
          color: #ff1252;
        }
      }
    }
  }
}
